{% extends "base.html" %}

{% block content %}

<h1 class="mb-4">🏠 HomeControl</h1>

<div class="card bg-dark border-secondary">

    <div class="card-header">
        🎮 Gameserver
    </div>

    <div class="card-body p-0">

        <table class="table table-dark table-hover mb-0">

            <thead>

                <tr>
                    <th>Spiel</th>
                    <th>Status</th>
                    <th>Image</th>
                </tr>

            </thead>

            <tbody>

            {% for server in servers %}

                <tr>

                    <td>{{ server.game }}</td>

                    <td>

                        {% if server.status == "running" %}

                            🟢 Running

                        {% else %}

                            🔴 Stopped

                        {% endif %}

                    </td>

                    <td>{{ server.image }}</td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}
